# 🔐 Messenger Token — lấy từ Meta Developer
MESSENGER_TOKEN=EAAb3sSMj1z4BPKH2Gj8oKzhUXUAonJMNv7PKeZCA2d0HsRB5eZCY0bj8pUD2YTeJZB3YZBA1Fxg1UyvpkYFaXlKVEbadZAtL569r45aZAktJoLuNTXBpCZCZBhqwbW1cjbVD1l1l9C6jb50ZB2XzWUx6xytYjqyZCJUdvSQImCX5RI9OeoNLuQqm71ZBcZCkRxByAjKnViL4hoTAMgZDZD

# ✅ Verify Token — dùng để xác minh webhook khi cấu hình với Meta
VERIFY_TOKEN=peacelayer1

# 🌐 Port chạy server Flask — 5000 nếu chạy local hoặc mặc định Heroku
PORT=5000

# 📦 URL hosting của bot — Render, Heroku, VPS… không cần thêm /webhook
APP_URL=https://cofure-bot.onrender.com
